<div class="map" style="background-image: url('https://source.unsplash.com/random/1200x800')"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"> <%= @flat.address %> </p>
      </div>
      <div class="flat-show-card">
        <h1>Information about the flat:</h1>
        <p> <%= @flat.description %> </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="flat-show-card">
        <h5> Book this place! </h5>
        <form action>
          <div class="input-group">

          </div>
          <div class="input-group mt-2">

          </div>
          <button class="submit"></button>
        </form>
      </div>
      <div class="flat-show-card">
        <h3> Details </h3>
      </div>
      <div class="flat-show-card">
        <h5> Share </h5>
        <i class ="fa fa-facebook-square fa-2x mr-2"></i>
        <i class ="fa fa-twitter-square fa-2x mr-2"></i>
        <i class ="fa fa-pinterest-square fa-2x mr-2"></i>
        <i class ="fa fa-envelope-square fa-2x mr-2"></i>
      </div>
    </div>
  </div>
</div>
